
        <div class="header">
            <div class="img-wrapper">
                <img src="../../assets/pexels-ella-olsson-1640777.jpg">
            </div>
            <div class="banner">
                <h1>Enfocados en tu bienestar integral</h1>
                <button routerLink="/ventana">Conocé nuestro staff</button>
            </div>
        </div>

        <div class="container-logo">
            <div class="container-logo__div">
                <i class="fas fa-briefcase-medical"></i>
                <p>Medicina</p>
            </div>
            <div class="container-logo__div">
                <i class="fas fa-dumbbell"></i>
                <p>Entrenamiento</p>
            </div>
            <div class="container-logo__div">
                <i class="fas fa-seedling"></i>
                <p>Nutrición</p>
            </div>
        </div>

        <section id="inicio">
            <div class="fondoNegro">
                <div>
                    <h2 class="h2">Equipo comprometido con la salud nutricional de la sociedad</h2>
                </div>
            </div>
        </section>

        <div class="container-logo">
            <div class="container-logo__div">
                <i class="fas fa-phone-square-alt"></i>
                <p>Teléfono</p>
                <p>+52-477-20</p>

            </div>
            <div class="container-logo__div">
                <i class="far fa-clock"></i>
                <p>Lunes-Viernes</p>
                <p>9:00 a 17:00</p>
            </div>
        </div>
